.potentiometersBlock {
    @extend .bgBlock;
}

// main list
.potsGroupList {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    > li {
        position: relative;
        list-style-type: none;
        margin-bottom: 20px;

        @include bp(mobile) {
            width: 100%;
        }

        @include bp(minTablet) {
            width: auto;
            margin: 0 50px 40px 0;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: -25px;
                width: 1px;
                height: 100%;
                background: $border-color;
            }

            &:last-child:after {
                display: none;
            }
        }
    }

    // sublist
    .ulTable {
        @include bp(minTablet) {
            max-width: 400px;
        }
    }
}

// title
.potsGroupTitle {
    font-size: 20px;
    text-decoration: underline;
}
