// canvas container
.canvasAndCapkitListContainer {
    .capaCanvasContainer {
        margin-bottom: 20px;

        &.fullScreen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: white;
            text-align: center;
            z-index: 9999;
            

            .capaCanvasWrapper {
                display: inline-block;
                height: 100%;

                > img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
}

.capaCanvasWrapper {
    position: relative;

    > img {
        width: 100%;
    }
}

// edit button
.editBtn {
    @extend .buttonStyle;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;

    &.exitMode {
        background: $border-color;
    }
}

// full screen button
.canvasFullScreenBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border: none;
    z-index: 2;

    img {
        width: 20px;
    }
}

// canvas
.capaCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.creationMode {
        &:hover {
            cursor: crosshair;
        }
    }

    &.editMode {
        &:hover {
            cursor: move;
        }

        div:hover {
            cursor: grab;
            background: $capa-hover-color;

            span {
                display: none;
            }
        }
    }

    // capa sprites
    > div {
        position: absolute;
        background: $main-blue;
        border-radius: 50%;
        overflow: hidden;

        &:after {
            position: absolute;
            width: 30%;
            height: 100%;
            right: 0;
            top: 0;
            background: white;
            content: "";
        }

        &:hover {
            background: none;
            transform: rotate(0deg) !important;
            overflow: visible;

            &:after {
                display: none;
            }

            span {
                display: block;
            }
        }

        &.BP {
            &:after {
                display: none;
            }
        }

        &.selected {
            background: $capa-hover-color;
        }

        > span {
            display: none;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
            padding: 5px;
            border-radius: 10px;
            background: $main-bg-color;
            font-size: 16px;
            color: $main-blue;
            z-index: 10;
        }
    }

    // sprite for creation
    #capaCanvasFakeSprite {
        display: block;
        position: absolute;
        background: rgba($main-blue, 0.5);
        border-radius: 50%;
    }
}
