.connectorsBlock {
    @extend .bgBlock;
}

// main list
.connectorsList {
    display: flex;
    flex-wrap: wrap;;
    padding: 0;
    margin: 0;

    > li {
        position: relative;
        list-style-type: none;
        margin-bottom: 20px;

        @include bp(mobile) {
            width: 100%;
        }

        @include bp(minTablet) {
            width: auto;
            margin: 0 50px 40px 0;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: -25px;
                width: 1px;
                height: 100%;
                background: $border-color;
            }

            &:last-child:after {
                display: none;
            }
        }
    }

    // sub table
    .ulTable {
        margin-bottom: 0;

        @include bp(minTablet) {
            max-width: 400px;
        }
    }
}

// title
.connectorsListTitle {
    font-size: 20px;
    text-decoration: underline;
}

// pinouts table
.pinoutsList {
    display: table;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-collapse: collapse;
    border-spacing: 0 5px;
    border: 1px solid $border-color;

    > li {
        display: table-row-group;

        > span {
            display: table-cell;
            padding: 5px;
            border: 1px solid $border-color;
            vertical-align: top;

            &:first-of-type {
                min-width: 40px;
                text-align: center;
            }
        }
    }
}

