.chassisInfosContainer {
    @extend .bgBlock;

    //title
    .infosTitle {
        margin-bottom: 5px;
    }

    // edit button
    .chassisInfosEditButton {
        @extend .buttonStyle;
        position: absolute;
        top: 10px;
        right: 10px;

        &.exitMode {
            background: $border-color;
        }
    }

    // list styles
    .chassisInfoList {
        @extend .ulTable;
        margin-bottom: 10px;

        // edit imput styles
        input[type="text"],
        input[type="number"],
        textarea {
            border: none;
            border-radius: 5px;
            background: lighten($main-blue, 30%);
            color: $default-font-color;

            &:disabled {
                background: $border-color;
            }
        }

        input[type="text"],
        input[type="number"] {
            height: 22px;
            padding: 0 4px;
        }

        input[type="number"] {
            width: 50px;
            margin-left: 5px;
        }

        textarea {
            width: 100%;
            max-width: 300px;
            padding: 4px;
        }
    }

    // edition submit button
    .infoSubmitBtnContainer {
        margin-top: 15px;
        text-align: right;
    }
    .infoSubmitBtn {
        @extend .buttonStyle;
    }

    // documents
    .documentLink {
        display: inline-block;
        width: 60px;
        margin-right: 20px;
        color: $default-font-color;
        text-decoration: none;
        vertical-align: top;
        text-align: center;

        &:hover {
            color: $link-hover-color;
        }

        span {
            font-size: 12px;
        }

        img {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    // notes
    .notesContainer {
        margin-bottom: 20px;
    }

    .notesList {
        padding: 0 0 0 14px;
        margin: 0;
        list-style-type: disc;

        li {
            margin-bottom: 10px;
        }
    }
}
