.modaleOverlay,
.modaleContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    &.hidden {
        display: none;
    }
}

// overlay
.modaleOverlay {
    background: rgba(150, 150, 150, 0.5);
    z-index: 100;
}

// container global
.modaleContainer {
    z-index: 101;
}

// modale block
.modaleWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 20px 20px 20px;
    background: white;

    &.hidden {
        display: none;
    }
}


// close button
.modaleCloseBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    color: $default-font-color;
    font-size: 20px;
}


// content styles
.modaleCenteredContent {
    text-align: center;
}