.crtInfosBlock {
    @extend .bgBlock;
}

// tube list
.tubeListBtn {
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 16px;
    color: $default-font-color;

    &.listOpen {
        display: none;
    }
}

.tubeList {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &.listOpen {
        display: block;
    }
}