.carouselAndInfosContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .carouselContainer {
        @extend .blockMargins;

        @include bp(mobile) {
            width: 100%;
        }

        @include bp(tablet) {
            width: 49%;
        }

        @include bp(minDesktop) {
            width: 59%;
        }
    }

    .chassisInfosContainer {

        @include bp(mobile) {
            width: 100%;
        }

        @include bp(tablet) {
            width: 49%;
            margin-left: 2%;
        }

        @include bp(minDesktop) {
            width: 39%;
            margin-left: 2%;
        }
    }
}

.technicalInfosBlocksContainer {
    display: flex;
    flex-wrap: wrap;

    > div {

        @include bp(mobile) {
            width: 100%;
        }

        @include bp(tablet) {
            width: 49%;

            &:nth-of-type(2n + 1) {
                margin-right: 2%;
            }
        }

        @include bp(minDesktop) {
            width: 32%;
            margin-right: 2%;

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }
    }
}

.connectorsBlockContainer,
.potentiometersBlockContainer {
    @include bp(minDesktop) {
        text-align: center;
    }
    
    > div {
        @include bp(minDesktop) {
            display: inline-block;
            text-align: left;
        }
    }
}

.canvasAndCapkitListContainer {
    display: flex;
    flex-wrap: wrap;

    .capaCanvasContainer {
        @extend .blockMargins;

        @include bp(mobileToTablet) {
            width: 100%;
        }

        @include bp(minDesktop) {
            width: 49%;
        }

        @include bp(wide) {
            width: 59%;
        }
    }

    .capkitListContainer {
        @extend .blockMargins;

        @include bp(mobileToTablet) {
            width: 100%;
        }

        @include bp(minDesktop) {
            width: 49%;
            margin-left: 2%;
        }

        @include bp(wide) {
            width: 39%;
            margin-left: 2%;
        }
    }
}
