.headerContainer {
    position: relative;
    display: grid;
    margin-bottom: 30px;

    @include bp(mobile) {
        padding-top: 6px;
        grid-template-columns: 100%;
    }

    @include bp(minTablet) {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
    }

    @include bp(tablet) {
        padding-top: 8px;
    }

    @include bp(minDesktop) {
        padding-top: 10px;
    }
}

.backToHomeBtn {
    font-family: 'arcade';
    font-size: 30px;
    color: $main-blue;
    text-decoration: none;

    @include bp(mobile) {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }

    @include bp(minTablet) {
        grid-column: 1;
        grid-row: 1;
    }
}

.loginForm {
    @include bp(mobile) {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 15px;
    }

    @include bp(minTablet) {
        grid-column: 2;
        grid-row: 1;
    }
}