.carouselWrapper {
    position: relative;
    @include aspect-ratio(14, 9);
    background: white;

    &.fullScreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
    }

    .carouselDraggable {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .carouselItem {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left:0;

        &.current {
            display: block;
        }
    }
}

// notes
.carouselNotes {
    position: absolute;
    right: 10px;
    bottom: 10px;
    max-width: calc(100%-20px);
    padding: 5px;
    background: rgba(255, 255, 255, 0.3);
    text-align: right;
    color: #131313;
}

// full screen button
.carouselFullScreenBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border: none;
    z-index: 2;

    img {
        width: 20px;
    }
}

// arrows
.carouselArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    z-index: 2;

    img {
        width: 30px;
    }

    &.prevArrow {
        left: 10px;

        img {
            transform: rotate(180deg);
        }
    }

    &.nextArrow {
        right: 10px;
    }
}