// add new capa form
.capaFormContainer {
    max-height: 0;
    display: grid;
    grid-gap: 10px;
    margin-bottom: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, margin 0.3s ease-out;

    &.isVisible {
        max-height: 190px;
        margin-bottom: 20px;
    }

    @include bp(mobile) {
        grid-template-columns: repeat(6, auto);
    }
    @include bp(minTablet) {
        grid-template-columns: repeat(9, auto);
    }

    input[type="number"] {
        min-width: 80px;
    }

    .label__1 {
        grid-row: 1;

        @include bp(mobile) {
            grid-column: 1 / span 2;
        }

        @include bp(minTablet) {
            grid-column: 1;
        }
    }

    .label__2 {
        grid-row: 1;

        @include bp(mobile) {
            grid-column: 3 / span 2;
        }

        @include bp(minTablet) {
            grid-column: 2;
        }
    }

    .label__3 {
        grid-row: 1;

        @include bp(mobile) {
            grid-column: 5 / span 2;
        }

        @include bp(minTablet) {
            grid-column: 3;
        }
    }

    .label__4 {
        text-align: center;

        @include bp(mobile) {
            grid-row: 3;
            grid-column: 1;
        }

        @include bp(minTablet) {
            grid-row: 1;
            grid-column: 4;
        }
    }

    .label__5 {
        text-align: center;

        @include bp(mobile) {
            grid-row: 3;
            grid-column: 2;
        }

        @include bp(minTablet) {
            grid-row: 1;
            grid-column: 5;
        }
    }

    .label__6 {
        text-align: center;

        @include bp(mobile) {
            grid-row: 3;
            grid-column: 3;
        }

        @include bp(minTablet) {
            grid-row: 1;
            grid-column: 6;
        }
    }

    .label__7 {
        text-align: center;

        @include bp(mobile) {
            grid-row: 3;
            grid-column: 4;
        }

        @include bp(minTablet) {
            grid-row: 1;
            grid-column: 7;
        }
    }

    .label__8 {
        text-align: center;

        @include bp(mobile) {
            grid-row: 3;
            grid-column: 5;
        }

        @include bp(minTablet) {
            grid-row: 1;
            grid-column: 8;
        }
    }

    input[type="submit"] {
        @extend .buttonStyle;

        @include bp(mobile) {
            grid-row: 3 / span 2;
            grid-column: 6;
        }

        @include bp(minTablet) {
            grid-row: 1 / span 2;
            grid-column: 9;
        }
    }

    .input__1 {
        grid-row: 2;

        @include bp(mobile) {
            grid-column: 1 / span 2;
        }

        @include bp(minTablet) {
            grid-column: 1;
        }
    }

    .input__2 {
        grid-row: 2;

        @include bp(mobile) {
            grid-column: 3 / span 2;
        }

        @include bp(minTablet) {
            grid-column: 2;
        }
    }

    .input__3 {
        grid-row: 2;

        @include bp(mobile) {
            grid-column: 5 / span 2;
        }

        @include bp(minTablet) {
            grid-column: 3;
        }
    }

    .input__4 {
        @include bp(mobile) {
            grid-row: 4;
            grid-column: 1;
        }

        @include bp(minTablet) {
            grid-row: 2;
            grid-column: 4;
        }
    }

    .input__5 {
        @include bp(mobile) {
            grid-row: 4;
            grid-column: 2;
        }

        @include bp(minTablet) {
            grid-row: 2;
            grid-column: 5;
        }
    }

    .input__6 {
        @include bp(mobile) {
            grid-row: 4;
            grid-column: 3;
        }

        @include bp(minTablet) {
            grid-row: 2;
            grid-column: 6;
        }
    }

    .input__7 {
        @include bp(mobile) {
            grid-row: 4;
            grid-column: 4;
        }

        @include bp(minTablet) {
            grid-row: 2;
            grid-column: 7;
        }
    }

    .input__8 {
        @include bp(mobile) {
            grid-row: 4;
            grid-column: 5;
        }

        @include bp(minTablet) {
            grid-row: 2;
            grid-column: 8;
        }
    }

    .textarea__1 {
        height: 52px;
        padding: 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        resize: none;

        @include bp(mobile) {
            grid-row: 5;
            grid-column: 1 / span 6;
        }

        @include bp(minTablet) {
            grid-row: 3;
            grid-column: 1 / span 9;
        }
    }

    input[type="number"] {
        height: 40px;
        padding: 0 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
    }
}

// top block
.capaListTopBlock {
    display: flex;
    margin-bottom: 20px;
}

.capaListCapkitBtn {
    @extend .buttonStyle;
    margin-right: 20px;
}

.capaListTotalNumber {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.capaListShowAddBtnContainer {
    flex-grow: 1;
    text-align: right;

    .capaListShowAddBtn {
        @extend .buttonStyle;

        &.exitMode {
            background: $border-color;
        }
    }
}

// table header and sort buttons
.capaSortBtnContainer {
    display: flex;
    height: 50px;
    padding: 0 28px 0 10px;
    background: $main-blue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .capaSortBtnItem {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

    button {
        border: none;
        background: none;
        color: white;
        font-weight: bold;
        font-size: 14px;

        &:hover {
            cursor: pointer;
        }
    }
}

// capa list
.capaListContainer {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.capaList {
    padding: 0;
    margin: 0;
    color: $table-font-color;

    li {
        position: relative;
        display: flex;
        padding: 10px 28px 10px 10px;
        list-style-type: none;

        > div {
            position: relative;
            width: 20%;
            text-align: center;

            > span {
                position: relative;
            }
        }

        &.rowTable__odd {
            background: $main-bg-color;
        }

        &.rowTable__even {
            background: white;
        }

        &.addedItem {
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: $succes-color;
                animation-name: newItemFadingBG;
                animation-duration: 3000ms;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;
            }
        }

        &:hover {
            background: $link-hover-color;
            color: white;

            button {
                color: white;
            }
        }
    }
}

// add sprite button
.capaListAddSpriteBtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 5px;
    background: none;
    border: none;
    color: $table-font-color;
    font-size: 10px;
    z-index: 1;

    &:disabled {
        opacity: 0.2;
    }
}

// notes
.capaNote {
    display: none;
}

.capaNoteSign {
    display: inline-block;
    position: relative;
    text-decoration: underline;
    z-index: 1;

    &:hover {
        cursor: default;

        & + .capaNote {
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-100%, -50%);
            width: 400%;
            padding: 10px;
            background: $main-blue;
            border-radius: 6px;
            color: white;
            z-index: 1;
        }
    }
}

// delete button
.capaListSupprBtn {
    position: absolute;
    right: 0;
    border: none;
    background: none;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        display: none;
    }
}

.capaListSupprIcon {
    width: 15px;
}

// multiple position styles
.capaListPositionCol {
    span {
        &:after {
            content: ", ";
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

// delete capa modale
.modaleDeleteCapa {
    .modaleDeleteCapaBtnContainer {
        margin-top: 15px;
        text-align: center;

        button {
            @extend .buttonStyle;
        }
    }
}

@keyframes newItemFadingBG {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
