.voltagesBlock {
    @extend .bgBlock;
}

.bPlusPhotoContainer {

    &:hover {
        cursor: zoom-in;
    }

    &.fullScreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: white;
        z-index: 9999;

        &:hover {
            cursor: zoom-out;
        }

        > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .bPlusFullScreenExitBtn {
            display: block;
        }
    }

    > img {
        width: 150px;
    }
}

.bPlusFullScreenExitBtn {
    @extend .buttonStyle;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
