.chassisList {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;

    // layout
    > li {
        padding: 10px;;
        background: $main-bg-color;

        @include bp(mobile) {
            width: 100%;
            margin: 0 0 12px 0;
        }

        @include bp(tablet) {
            width: calc(50% - 8px);
            margin: 0 16px 16px 0;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }

        @include bp(desktop) {
            width: calc(25% - 15px);
            margin: 0 20px 20px 0;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }

        @include bp(wide) {
            width: calc(20% - 20px);
            margin: 0 25px 25px 0;

            &:nth-child(5n) {
                margin-right: 0;
            }
        }
    }
}

// sublist
.chassisSubList {
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li {
        &:before {
            content: "";
            display: inline-block;
            height: 6px;
            width: 6px;
            margin-right: 6px;
            border-radius: 50%;
            background: $default-font-color;
            vertical-align: middle;
        }
    }

    a {
        font-size: 16px;
        line-height: 22px;
        color: $default-font-color;
        text-decoration: none;
        vertical-align: middle;

        &:hover {
            color: $link-hover-color;
        }
    }
}