// default global styles
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 16px;
    color: $default-font-color;

    &.bodyNoScroll {
        height: 100%;
        overflow: hidden;
    }
}

h1, h2, h3 {
    margin-top: 0;
    font-weight: normal;
}

h1 {
    font-size: 45px;
    text-align: center;
}

h2 {
    font-size: 35px;
}

img {
    vertical-align: top;
}

.linkStyle {
    color: $default-font-color;
    text-decoration: underline;

    &:hover {
        color: $link-hover-color;
    }
}

// main container
.appMainContainer {
    max-width: 1980px;
    margin: 0 auto;

    @include bp(mobile) {
        padding: 0 12px;
    }

    @include bp(tablet) {
        padding: 0 16px;
    }

    @include bp(minDesktop) {
        padding: 0 20px;
    }
}


// input number style
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}
  

// button style
.buttonStyle {
    padding: 10px 20px;
    background: $main-blue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-in-out;
  
    &:hover {
      cursor: pointer;
      background: lighten($main-blue, 4%);
    }
}

button:not(:disabled) {
    &:hover {
        cursor: pointer;
    }
}

// block margins
.blockMargins {
    @include bp(mobile) {
        margin-bottom: 16px;
    }

    @include bp(minTablet) {
        margin-bottom: 20px;
    }
}

// block with background
.bgBlock {
    @extend .blockMargins;
    position: relative;
    padding: 10px;
    background: $main-bg-color;

    h2 {
        margin: 0 0 20px 0;
        font-size: 30px;
        color: $main-blue;
    }
}

// table display with ul
.ulTable {
    display: table;
    padding: 0;
    margin: 0 0 20px 0;
    list-style-type: none;
    border-collapse: separate;
    border-spacing: 0 15px;

    > li {
        display: table-row;

        > div,
        > span {
            display: table-cell;
            line-height: 22px;
            vertical-align: top;

            &:first-of-type {
                padding-right: 20px;
                font-weight: 600;
                white-space: nowrap;
            }
        }
    }
}


// progress loader
.progressLoader {
    position: relative;
    width: 100%;
    height: 8px;
    background: $main-bg-color;
    overflow: hidden;
   
    &:before {
        content: "";
        position: absolute;
        left: -130%;
        width: 100%;
        height: 100%;
        background: $main-blue;
        animation: progress 4s linear infinite;
    }  
}
  
@keyframes progress {
    0% {
        left: -130%;
        background: $main-blue;
    }
    50% {
        left: 130%;
        background: $main-blue;
    }
    51% {
        background: $link-hover-color;
    }
    100% {
        background: $link-hover-color;
    }
}
  

  



  
 
