@mixin bp($point) {
    @if $point == mobile {
        @media (max-width: $bpMobileMax) { @content; }
    }
    @else if $point == tablet {
        @media (min-width: $bpTabletMin) and (max-width: $bpTabletMax) { @content; }
    }
    @else if $point == desktop {
        @media (min-width: $bpDesktopMin) and (max-width: $bpDesktopMax) { @content; }
    }
    @else if $point == wide {
        @media (min-width: $bpWideMin) { @content; }
    }
    @else if $point == mobileToTablet {
        @media (max-width: $bpTabletMax) { @content; }
    }
    @else if $point == minTablet {
        @media (min-width: $bpTabletMin) { @content; }
    }
    @else if $point == minDesktop {
        @media (min-width: $bpDesktopMin) { @content; }
    }
}


@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
}