$main-blue: #6c7ae0;
$main-bg-color: #f8f6ff;

$default-font-color: #606060;
$table-font-color: #808080;
$link-hover-color: #a6ade2;

$capa-hover-color: red;

$border-color: #ced4da;
$succes-color: #d4edda;


$bpMobileMax: 768px;
$bpTabletMin: 769px;

$bpTabletMax: 1280px;
$bpDesktopMin: 1281px;

$bpDesktopMax: 1680px;
$bpWideMin: 1681px;


@font-face {
    font-family: 'arcade';
    src: url('./fonts/arcade_r-webfont.woff2') format('woff2'),
         url('./fonts/arcade_r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}