.loginForm {
    display: flex;
    
    @include bp(mobile) {
        justify-content: center;
    }

    @include bp(minTablet) {
        justify-content: flex-end;
    }

    .loginInput,
    .passworInput {
        height: 30px;
        margin-left: 6px;
        padding: 0 6px;
        border: 1px solid $border-color;
        border-radius: 5px;
    }
}

.loginSubmitBtn,
.logoutBtn {
    @extend .buttonStyle;
    padding: 0 10px;
    height: 30px;
    margin-left: 6px;
}

.loginSubmitBtn {
    width: 60px;
}

// loader
.loginLoader {
    display: flex;
    width: 60px;
    height: 30px;
    margin-left: 6px;
    align-items: center;
}